.gradle
build/
run/
out/

*.iml
*.ipr
*.iws
*.classpath
*.project
*.prefs
*.launch
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
/bin/
